@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html, body {
    height: 100%;
    background: url(/img/bg.jpg);
    background-size: cover;
}

button {
    width: 300px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: darkblue;
    color: #fff;
}


/* 
    ÁREA LOGIN
*/
.area-login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area-login img,
.area-login h1 {
    margin-bottom: 25px;
}

.area-login input{
    width: 300px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    outline: auto;
}

/* .area-login button {
    width: 300px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: darkblue;
    color: #fff;
} */



/* INFORMAÇÕES */
.informations {
    height: 80%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: rgba(46, 68, 95, 0.7);
    color: #fff;
}

.informations h1, p {
    text-shadow: 0 0 10px #000;
}

.informations p {
    width: 70%;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
}

/* .informations button {
    width: 300px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: darkblue;
    color: #fff;
} */



/* 
    ÁREA GAME
*/
header nav {
    background-color: #2E445F;
    box-shadow: 0 0 10px #000;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-game {
    width: 120vh;
    height: 80vh;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    background: rgba(46, 68, 95, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.boat,
.explosion {
    width: 50px;
    margin: 5px;
}

.boat {
    cursor: pointer;
}



/* 
    END GAME
*/
.end-game {
    margin-top: 4.4rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 40%;
    text-align: center;
    color: #000;
    text-shadow: 0 0 10px #fff;
    /* background: rgba(241, 11, 11, .4); */
    /* background: rgba(24, 180, 24, .4); */
}

.title-end-game {
    margin-bottom: 2rem;
    font-size: 5rem;
}

.text-end-game {
    font-size: 2rem;
}